
	<table id="domainTable" data-toggle="table" data-url="app/bigdata/controllers/data.json" data-height="246" data-sort-name="name" data-sort-order="desc">
	    <thead>
	        <tr>
	            <th data-field="domain" data-align="right" data-sortable="true">域名</th>
	            <th data-field="areaName" data-align="center" data-sortable="true">区域名称</th>
	            <th data-field="nodeName" data-sortable="true">节点名称</th>
	            <th data-field="belongIp" data-align="right" data-sortable="true">所在IP</th>
	            <th data-field="firstTime" data-align="center" data-sortable="true">首次发现时间</th>
	            <th data-field="lastTime" data-sortable="true">最后活跃时间</th>
	            <th data-field="status" data-sortable="true">备案状态</th>
	        </tr>
	    </thead>
	    
	</table>
